  <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main-content">
                <form class="temp_form">
                    <input type="text" id="cityName" className="cit" placeholder="Enter your city Name" autocomplete="off" >
                    <input type="submit" className="sub" value="search" id="submitBtn">
                </form>
               </div>
               <div class="tempinformation">
                <div class="top_layer">
                    <p id="day"></p>
                    <p id="today_date"></p>
                </div>
                <div class="main_layer">
                    <p className="city" id="city_name">Get output</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_real">0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
               </div>
             </div>    
        </div>
    </div>