<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left align-item-center">
                        <figure class="erring">
                            <img src="./img/404.png" alt="Abhishek" class="img-fluid" title="Abhishek Rajput">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to Abhishek Rajput World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    {{>footer}}
</body>

</html>