<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right  d-flex align-items-start" >
                        <figure>
                            <img src="./img/my.png" alt="Abhishek" class="d-flex justify-content-start" width="500" height="450" title="Abhishek Rajput">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I am A<span class="text_clr"> Mern Stack Developer</span> Student and A freelancer</h1>
                        <a href="/"><button>Home</button></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    {{>footer}}
</body>

</html>
